    <hr />
    <footer id="bottom">
        <center>
            <small>
                <p style="text-align:center;"><img src="/static/images/stills/monero-now.gif" alt="button1" /> <img src="/static/images/stills/gnu-linux.gif" alt="button2" /> <img src="/static/images/stills/powered2.gif" alt="button3" /> </p>
                <a href="https://notabug.org/navska/cudan" rel="nofollow" target="_blank">echochamber [fork of čudan]</a> — 2023-now
            </small>
        </center>
    </footer>
    <script src=" ./static/script.js">
    </script>
    <script src="./static/prism/prism.js"></script>
    <script>
        Prism.highlightAll();
    </script>
    </body>

    </html>